body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll; /* Show vertical scrollbar */
  

  /* CSS HEX */
  --jet: #343330ff;
  --cinnabar: #e94f37ff;
  --lavender-gray: #bfbccbff;
  --pale-spring-bud: #f4f1bbff;
  --mint-cream: #eff9f0ff;
  --verdigris: #2ca6a4ff;
  --selective-yellow: #fcba04ff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.recipes-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  color: var(--jet);
  font-size: 18px;
  display: inline-block;
}

.recipes-btn:hover {
  background-color: transparent;
  color: var(--selective-yellow);
}

.recipes-icon {
  display: "inline-block";
  font-size: "18px";
  color: var(--jet)
}

.recipes-icon:hover {
  color: var(--selective-yellow)
}